html {
  background: url('./images/index.htmlbackground .jfif') no-repeat;
  background-size: cover;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #617140;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
}

.site-nav {
  margin-top: 20px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  color: #E5D9B6;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid #A4BE7B;
  border-bottom: none;
}

.site-nav a:hover {
  background-color: #A4BE7B;
}

.content-area {
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #e5e9dc;
}

.main-area {
      width: 66%;
      float: left;
      padding-right: 40px;
      box-sizing: border-box;
    }
    .main-area p{
      font-weight: bold;
  
    }
    .sidebar {
      width: 34%;
      float: left;
      background-color: #294d01;
      background-image: linear-gradient(to-bottom, rgb(21, 129, 63), rgb(121, 187, 170));
      padding: 20px 40px;
      box-sizing: border-box;
      font-size: 85%;
    }

footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
