html {
    background: url('./images/Rex.jpg') no-repeat;
    background-size: cover;
    }
    
    body {
      font-family: Tahoma, sans-serif;
      font-size: 87%;
      color: #E7B10A;
    }
    
    img {
      max-width: 100%;
      height: auto;
    }
    
    .container {
    max-width: 940px;
    margin: auto;
      color: #898121;
      font-weight: bold;
    }
    
    header {
     
      padding-top: 20px;
      padding-bottom: 20px;
      color: #FF8400;
      
    }
    
    header h1 {
      margin: auto;
      font-size: 165%;
     
    }
  
    header h2 {
      font-size: 140%;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
      
    }
    
    header p {
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  
    .content-area {
      border-top: 3px solid #011a07;
      border-bottom: 3px solid #011a07;
    }
    
    .main-area {
      width: 66%;
      float: left;
      padding-right: 40px;
      box-sizing: border-box;
    }
    .main-area p{
      font-weight: bold;
  
    }
    .sidebar {
      width: 34%;
      float: left;
      background-color: #4C4B16;
      background-image: linear-gradient(to-bottom, rgb(21, 129, 63), rgb(121, 187, 170));
      padding: 20px 40px;
      box-sizing: border-box;
      font-size: 85%;
    }
    
    footer {
      font-weight: bold;
      text-align: center;
      font-size: 85%;
      color: #061300;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    
    .fix {
      clear: both;
    }
    
    .group:before,
    .group:after {
      content: "";
      display: table;
    }
    
    .group:after {
      clear: both;
    }
    
    .group {
      zoom: 1;
    }
  table {
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
  }
  .col-dino-name{
      width: 20%;
  }
  .col-dino-diet,
  .col-dino-score {
      width: 10%;
  }
  .col-dino-companion{
      width: 60%;
  }
  table th,
  table td{
      border: 1px solid rgb(3, 175, 3) ;
      padding: 10px;
  }
  table tbody tr:nth-child(odd) {
      background-color: #F2CD5C;
      color: #F2921D;
      font-weight: bold;
  }
  
  table tbody tr:nth-child(even) {
      background-color: #F2921D;
      color: #F2CD5C;
      font-weight: bold;
  }
  table th{
      text-align: center;
      background-color: #E7B10A;
      color: #898121;
      text-shadow: 1px 1px 0 rgba(0, 0, 0, .4);
  }
  table td{
      text-align: center;
      font-size: 85%;  
  }
  
