html {
  background: url('./images/index.htmlbackground .jfif') no-repeat;
  background-size: cover;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
  font-weight: bold;
  color:#BBD6B8
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: auto;
  color: #DBE4C6;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #AEC2B6;
}

header h1 {
  color: #DBE4C6;
  margin: auto;
  font-weight: bold;
  font-size: 165%;
}

header p {
  color:#AEC2B6;
  margin: 0;
}
.site-nav{
  color: #DBE4C6;
  padding: 10px;
}
.site-nav a {
  display: block;
  color: #5D9C59;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid rgb(5, 82, 28);
}
.site-nav ul {
  margin: 0;
  padding: 0;
}
.site-nav li{
  list-style: none;
  float: left;
}
.content-area {
  border-top: 3px solid #089252;
  border-bottom: 3px solid #057514;
}


.main-area p {
  font-weight: bold;
  float: left;
  max-width: 66%;
}

.sidebar {
  max-width: 34%;
  float: left;
  background-color: #02681b;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 85%;
}

footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
